<div class="index-container">
    <img id="img-beer" src="/images/beer.png" />
    <button class="btn-beers"><a href="/beers">Check the Beers!</a></button>
    <button class="btn-random-beer"><a href="/random-beer">Check a Random Beer!</a></button>
</div>