<div class="index-container">
    
     <img id="beer" src="images/beer.png" alt="beer-image"/>

     <ul>
        <li><a class="CTA" href="/beers">
         Check the beers!
        </a> 
        </li>  

    <li>
        <a class="CTA" href="/randombeers">
         Check a random beer!
         </a>
    </li>
    

     </ul>
    

</div>