<div class="index-container">
  <img src="/images/beer.png" alt="illustration bière"/>
  <div class="buttons">
    <a class="btn-index" href="/beers">Check the Beers!</a>
    <a class="btn-index" href="/random-beer">Check a Random Beer</a>
  </div>
</div>

<footer class="footer-short-page">
  <p>Develop by Ironhack ;)</p>
</footer>