<div class="index-container">

  <img src="/images/beer.png" alt="beer image">
  <div class="button-container">
   <a class="blue-buttons" href='/beers'>Check the beers!</a>
   <a class="blue-buttons" href="/random-beer">Check a random beer!</a>
  </div>

</div>