<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>IronBeers</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
  </head>
  <body>

<nav class="nav">

        <ul>
          <li> <a href="/">Home</a></li>
          <li> <a href="/beers">Beers</a></li> 
          <li> <a href="/random-beers">Random Beers</a></li>
        </ul>
      </nav>

 {{{ body }}}

 <footer>
     <p>Develop by IronHack</p>
 </footer>
  </body>
</html>